spring:
  profiles:
    active: dev
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enabled: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

# Default logging configuration
logging:
  level:
    com.webapp.Eventified: DEBUG
    org.springframework.security: DEBUG

# Default security configuration
app:
  security:
    enabled: true  # This will be overridden by profiles

