apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgresql
  namespace: eventified
  labels:
    app: postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
    spec:
      containers:
        - name: postgresql
          image: postgres:15
          env:
            - name: POSTGRES_DB
              value: "eventified"
            - name: POSTGRES_USER
              value: "eventified_admin"
            - name: POSTGRES_PASSWORD
              value: "materinaduska"
            - name: PGDATA
              value: "/var/lib/postgresql/data/pgdata"
          ports:
            - containerPort: 5432
              name: postgresql
          volumeMounts:
            - name: eventified-storage
              mountPath: /var/lib/postgresql/data
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      volumes:
        - name: eventified-storage
          persistentVolumeClaim:
            claimName: eventified-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: postgresql-service
  namespace: eventified
  labels:
    app: postgresql
spec:
  selector:
    app: postgresql
  ports:
    - port: 5432
      targetPort: 5432
      name: postgresql
  type: ClusterIP